<div class="institutions-banner">
  <div class="">
    <h1></h1>
  </div>
</div>


<div class="container d-flex dashboard-top-buffer">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
      <h4 class="mt-2">We have <%= pluralize(@institutions.count, 'Institution') %></h3>
      <hr>
      <% @institutions.each do |institution| %>
        <div class="shadow">
          <div class="card card-institution mb-5">
            <% if institution.photos.first.present? %>
              <%= cl_image_tag institution.photos.first.key, class: "p-2" %>
            <% else %>
              <%= image_tag('neutral-institution.jpg', class: "p-2") %>
            <% end %>
            <div class="card-body card-body-institution p-4">
              <h4 class="card-title card-institution-title"><%= institution.name %></h4>
              <span class="card-text card-institution-text"><%= institution.description.truncate(250, omission: '...') %></span>
            </div>
            <div class="card-links-institution d-flex justify-content-around align-middle p-2">
              <%= link_to campaigns_path(institution_id: institution.id), class: "nav-institution" do %>
                <i class="fas fa-hands-helping px-2"></i><span>Campaigns</span>
              <% end %>
              <%= link_to institution_path(institution), class: "nav-institution" do %>
                <i class="fas fa-search-plus size-icon px-2"></i><span>More Info</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7 d-none d-md-flex">
      <div id="map"
           style="width: 100%; height: 600px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
