<div class="institutions-banner">
  <div class="">
    <h1></h1>
  </div>
</div>

<% @institutions.each do |institution| %>
  <div class="card mb-4">
    <div class="d-flex p-3">
      <div class="">
      <%# colocar código caso a institution não tenha photo %>
        <% institution.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="user-account-info mt-3">
          <span><%= institution.name %></span>
        </div>
      </div>
      <div class="">
        <p><%= institution.description %></p>
        <p><%= institution.address %></p>
        <span><%= institution.cnpj %></span>
        <div class="user-account-button d-flex justify-content-between">
          <%= link_to institution_path(institution.id) do %>
            <i class="fas fa-search-plus size-icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>