<div class="container mt-5">
  <h1 class="text-center mb-4"> <%= @campaign.name %>'s accountability.</h1>

 <div class="mb-5">
    <div class="d-flex justify-content-center mb-4">
      <h4 class="pr-4"><span class="badge btn-primary"><%= @campaign.type_donation %></span></h4>
      <h4 class="pr-4"><span class="badge btn-primary"> Total: <%= @campaign.total %></span></h4>
      <h4 class="pr-4"><span class="badge btn-primary"> Collected: <%= @campaign.raised %></span></h4>
      <h4 class="pr-4"><span class="badge btn-primary"><%= @campaign.category %></span></h4>
    </div>
    <% if @accountability.photos.present? %>
      <% @accountability.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class: "img-accoun" %>
      <% end %>
    <% else %>
      <h4><i> There is no accountability information yet. </i>😢 </h4>
    <% end %>
    <div>
      <p class="text-justify mt-5"><%= @accountability.content %></p>
    </div>
  </div>

  <hr>

  <h3 class="mt-4">See what donors are saying about campaign accountability:</h3>

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Click here to see the reviews!
      </button>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">See all Reviews!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <% if @reviews.empty? %>
              <small><em class="text-muted"> This Campaign has no reviews. <i class="fas fa-comments"></i></em></small>
            <% else %>
            <% @reviews.each do |review| %>
              <div class="review-left">
                <%= cl_image_tag review.donation.user.photo.key, class: "avatar-large" %><br>
                <span><%= "#{review.donation.user.first_name} #{review.donation.user.last_name}" %></span><br>
                <span><%= "Member since: #{review.donation.user.created_at.strftime("%d/%m/%Y")}" %></span><br>
                <span class="badge badge-success"><%= "#{review.donation.user.donations.count} donations" %></span>
              </div>
              <div class="review-right">
                <div class="review-comments mb-3">
                  <span><%= review.comment %>
                    <% review.star.times do %>
                      <i class="fas fa-star star text-warning"></i>
                    <% end %>
                  </span>
                </div>
              <hr>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
