<div class="container">
  <div class="row m-5">
    <div class="card-trip card pt-2 order-card">
      <div class="p-5">
        <h2 class="text-center"><b>Donate to <%= @campaign.name %></b></h2>
        <hr>
        <div class="d-flex white mb-3">
          <% if @campaign.photos.present? %>
            <% @campaign.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% else %>
            <%= image_tag('neutral-avatar.png') %>
          <% end %>
          <div class="ml-4 mt-4">
            <h5><%= @campaign.description %></h5>
            <span class="badge btn-primary"><%= @campaign.category %></span>
            <span class="badge btn-primary"><%= @campaign.type_donation %></span>
            <span class="badge btn-primary"> Total: <%= @campaign.total %></span>
            <span class="badge btn-primary"> Collected: <%= @campaign.raised %></span>
          </div>
        </div>
        <div class="card-body ">
          <div class="mt-0">
            <%= simple_form_for [ @campaign, @donation ] do |f| %>
              <%= f.input :quantity, placeholder: 'Say How Much You Want To Donate.' %>
              <%= f.submit class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>