<div class="container">
  <div class="row m-5">
    <div class="card-trip card pt-2 order-card">
      <div class="p-5">
        <h2 class="text-center"><b>Donate to <%= @campaign.name %></b></h2>
        <hr>
        <div class="d-flex white mb-3">
          <% if @campaign.photos.present? %>
            <% @campaign.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% else %>
            <%= image_tag('neutral-avatar.png') %>
          <% end %>
          <div class="ml-4 mt-4">
            <h5 class="mb-3"><%= @campaign.description %></h5>
            <div class="d-flex justify-content-around">
              <% if @campaign.raised >= @campaign.total %>
                <span class="badge btn-warning">Campagin Complete!</span>
              <% end %>
              <span class="badge btn-primary"><%= @campaign.category %></span>
              <span class="badge btn-primary"><%= @campaign.type_donation %></span>
            </div>
            <div class="progress mt-5">
              <div class="progress-bar" role="progressbar" style="width: <%= @campaign.raised / @campaign.total.to_f * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= @campaign.raised %> / <%= @campaign.total %></div>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <% if @campaign.type_donation == "Volunteer" %>
                <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#volunteerModal">
                  Volunteer
                </button>
              <% elsif @campaign.type_donation == "Fundrising" %>
                <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#FundsModal">
                  Donate
                </button>
              <% else %>
                <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#donationModal">
                  Donate
                </button>
              <% end %>
            </div>
          </div>
        </div>

            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="FundsModal" tabindex="-1" aria-labelledby="FundsModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="FundsModalLabel">Payment Gateway</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="wrapper">
                        <div class="form-pay">
                          <%= simple_form_for [ @campaign, @donation ] do |f| %>
                            <%= f.input :quantity, required: true, placeholder: 'Say How Much You Want To Donate.' %>
                            <%= f.input :anonymous, as: :boolean, required: false, check_box_tag: 'Anonymous Donation?' %>
                            <hr class="mb-4">
                          <div class="space icon-relative">
                            <label class="label">Card holder:</label>
                            <input type="text" class="input" placeholder="Coding Market">
                            <i class="fas payment-icon fa-user"></i>
                          </div>
                          <div class="space icon-relative">
                            <label class="label">Card number:</label>
                            <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Card Number">
                            <i class="far payment-icon fa-credit-card"></i>
                          </div>
                          <div class="card-grp space">
                            <div class="card-item icon-relative">
                              <label class="label">Expiry date:</label>
                              <input type="text" name="expiry-data" class="input" data-mask="00 / 00"  placeholder="00 / 00">
                              <i class="far payment-icon fa-calendar-alt"></i>
                            </div>
                            <div class="card-item icon-relative">
                              <label class="label">CVC:</label>
                              <input type="text" class="input" data-mask="000" placeholder="000">
                              <i class="fas payment-icon fa-lock"></i>
                            </div>
                          </div>
                            <%= f.submit "Make your donation", class: 'btn btn-primary' %>
                          <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="donationModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="donationModalLabel">Donation Gateway</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="wrapper">
                        <div class="form-pay">
                          <%= simple_form_for [ @campaign, @donation ] do |f| %>
                            <%= f.input :quantity, required: true, placeholder: 'Say How Much You Want To Donate.' %>
                            <%= f.input :anonymous, as: :boolean, required: false, check_box_tag: 'Anonymous Donation?' %>
                            <hr class="mb-4">
                            <div class="span-div mb-5">
                              <span>Please let your donations at </span><br>
                              <span><b><%= @campaign.institution.address %></b></span>
                            </div>
                            <%= f.submit "Make your donation", class: 'btn btn-primary' %>
                          <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


            <div class="modal fade" id="volunteerModal" tabindex="-1" aria-labelledby="volunteerModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="volunteerModalLabel">Volunteer Gateway</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="wrapper">
                        <div class="form-pay">
                          <%= simple_form_for [ @campaign, @donation ] do |f| %>
                            <%= f.input :quantity, required: true, placeholder: 'How Many Volunteer will participate?' %>
                            <%= f.input :anonymous, as: :boolean, required: false, check_box_tag: 'Anonymous Donation?' %>
                            <hr class="mb-4">
                            <div class="span-div mb-5">
                              <span>Please present yourself at </span><br>
                              <span><b><%= @campaign.institution.address %></b></span>
                            </div>
                            <%= f.submit "Volunteer", class: 'btn btn-primary' %>
                          <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




      </div>
    </div>
  </div>
