<div class="container my-5">
  <div class="card d-flex">
    <div class="d-flex justify-content-around ml-5 mr-5">
      <div class="container">
        <div class="mt-5">
          <h1><b> <%= @campaign.name.capitalize %></b> </h1>
        </div>
        <div class="my-2">
          <p class="text-justify mt-3 mr-4"> <%= @campaign.description.capitalize %>
        </div>
      </div>
      <div class="div mt-3">
        <% if @campaign.photos.first.present? %>
          <%= cl_image_tag @campaign.photos.first.key, class: "card-img p-2" %>
        <% else %>
          <%= image_tag('neutral-institution.jpg', class: "p-2") %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between ml-2 mb-3">
    
      <%= link_to 'donation', new_campaign_donation_path(@campaign), class: 'btn btn-primary'%>
      <div class="d-flex justify-content-end mr-5 mt-4 mb-2">
        <%= link_to campaigns_path do%>
          <i class="h3 fas fa-undo-alt mt-2 ml-4"></i>
        <% end %>
        <%= link_to edit_campaign_path(@campaign.id) do %>
          <i class="h3 fas fa-pencil-alt mt-2 ml-4 mr-2"></i>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
